:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}


/* Base reset */

* {
    margin: 0;
    padding: 0;
   
}


/* box-sizing and font sizing */

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}


/*adding media query to html*/

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}


/* 980px / 16px = 61.25em */

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}


/* 460px / 16px = 28.75em */

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}


/* Base styles */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: #f0f0f0;
    overflow-x: hidden;

}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 4.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}
#ahabanza > .container{
    background-color: #be3144;
    display: inline-block;
    width:70vw;
    height:70vh;
    color: #f0f0f0;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

#ahabanza > .container img {
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 45%;
    height: auto;
    z-index: -10;
   
    
}
#ahabanza > .container h1{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 6rem;

}
#ahabanza > .container button{
    position:absolute;
    top:75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 50px;
    border-radius: 10px;
    font-size: 2.5rem;
    font-weight: 400;
    background-image: linear-gradient(62deg, #dce1e6 0%, #181719 100%);
    color:#f5f5f8;
}

#ahabanza > .container button:hover{
    background: #45567d;
    color:white;
}



/* nav */

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #be3144;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.ihuza {
    display: block;
    padding-right: 10%;
    padding-left: 10%;
    
}

@media (max-width: 28.75em) {
    .nav {
        justify-content: center;
    }
    .ihuza {
        margin: 0 1rem;
    }
    .ihuza li{
        display:block;
        margin-right: 1.2rem;
        
    }
    .ihuza a {
        display: block;
        font-size: 1.25rem;
        padding: 1.5rem;
    }
}
.ihuza li{
    display:inline-block;
    margin-right: 2rem;
    
}

.ihuza a {
    display: inline-block;
    font-size: 2rem;
    padding: 1.5rem;
}

.ihuza a:hover {
    background: #45567d;
    border-radius: 8px;
}

main{
    display: grid;
    grid-template-columns: column;
    margin:0;
}
.ikaze {
   
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(62deg, #dce1e6 0%, #181719 100%);
    
}


.ikaze>p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: #be3144;
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: #45567d;
    width:100%;
    height:100vh;
   
}
.container{
   display: block;
   padding: 1.5rem;
   margin-top: 30px;
    
}
.ikaze-container{
    display:inline-block;
}


@media (max-width: 28.75em) {
    .projects-section-header {
        font-size: 4rem;
    }
}




.projects-grid {
    width: 100%;
    max-width: 1280px;
    height: 80vh;
    position:relative;
}
#reservation{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position:relative;
}
#reservation h2{
    font-size: 0.9em;
    margin-bottom:10px;
    padding:0;
    position:absolute;
    top: 0;
}

#reservation form{
    position:absolute;
    left:50%;
   
    transform: translate(-25%, -0%);
    width:100%;
    height: 30hv;
    margin:0;
    padding:0;
}
.umwirondoro{
display:flex;
flex-direction: row;
}
.umwirondoro div{
    display:flexbox;
    width: 50%;
}
#reservation form .amazina label{
    display:block;
    font-size:16px;
  
    
    
}
#reservation form  label{
    display:inline;
    font-size: 14px;
}
textarea{
    height: 150px;
    padding:10px;
    box-sizing:border-box;
    border-radius: 4px;
    color: #0e1ac0;
    font-size: 14px;
}
select{
    margin: 0;
    width:50%;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    color:#0e1ac0;
    font-weight: 200;
}
.kongeraho{
    margin-top:-12px;
    font-size: 15px;
}
input{
    
    font-size:15px;
}
.radio{
    display:inline;
}

input[type='radio']{
   padding:5px;
   margin:5px;
    
}

form p{
    font-size: 12px;
    padding:0;
    margin: 0;
}
input[type="submit"]{
    width: 25%;
    background-color: hsl(357, 60%, 42%);
    color: #f9f9fa;
    height: 50px;
    border-radius: 10px;
    font-size: 2.5rem;
    font-weight: 400;
}
fieldset{
    margin:0;
    padding: 0;
    border: solid 1px #ccc;
    border-radius: 6px;
    width:50%;
}
legend{
    font-size: 1.25em;
    padding: 0 0.25em;
    color: #999;
}
#serivise{
    background-color: #f0f0f0;
}
#serivise > h2{
    color:#45567d;
}
.menu{
    height: 80vh;
}
.projects-grid > div{
    float:left;
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:32.5%;
    background-color: #3a3d40;
    color:aliceblue;
    margin:5px;
    border-radius: 6px;
    flex-grow: 1;
    
}

.projects-grid > div>h2{
    font-size: 3.2rem;
    color:#45567d;
    border-bottom: 3px solid #be3144;
}
.imbonerahamwe{
    
    clear:both;
    background-color: #3a3d40;
    color: #f0f0f0;
    
    
    
}
.imbonerahamwe p:hover{
    font-size: 24px;
    font-weight:300;
    color: #f6f7f8;
    background-color: #be3144;
    border-radius: 4px;
}
.imbonerahamwe.projects-grid{
    height: auto;
}

.imbonerahamwe::before{
    content:"";
}

.projects-grid>table{
    border-collapse: collapse;
    width:100%;
}
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
    background-color:silver;
  }
 
  
#aboutus{
    
    background-image: linear-gradient(62deg, #0c4ee9 0%, #be3144 100%);
}

@media (max-width: 30.625em) {
    .projects-section {
        padding: 6rem 1rem;
    }
    .projects-grid {
        grid-template-columns: 1fr;
    }
}

footer{
    background-color: #3a3d40;
    max-height: 20%;  
}
#projects.footer{
    background-color: #dac9c9;
}
footer li{
    list-style: none;
    
}
footer li a{
    text-decoration: none;
}
section, footer{
    height:auto;
    box-sizing: border-box;
   
}
